<main>
    <div class="parent">
        <p class="titre">Tout commence par 
            un meilleur service 
            aux clients
        </p>
        <div class="enfant">

            <div><h3>1</h3>
                <h3> Nous Changeons les choses</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, fugiat rem, aliquid atque voluptatibus ipsam veniam maxime expedita inventore dolore est ea voluptate! Voluptatum eligendi esse magni magnam eveniet! Nostrum!</p> 
            
            </div>

            <div><h3>2</h3>
                <h3> Nous Changeons les choses</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, fugiat rem, aliquid atque voluptatibus ipsam veniam maxime expedita inventore dolore est ea voluptate! Voluptatum eligendi esse magni magnam eveniet! Nostrum!</p> 
            
            </div>

            <div><h3>3</h3>
                <h3> Nous Changeons les choses</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, fugiat rem, aliquid atque voluptatibus ipsam veniam maxime expedita inventore dolore est ea voluptate! Voluptatum eligendi esse magni magnam eveniet! Nostrum!</p> 
            
            </div>

        </div>
    </div>
</main>
