button{

    width: 117px;
    height: 37px;
    background: #272727;
    border-radius: 50px;
    border: 1px solid #272727;
    color: white;
    font-family: Roboto;
    font-size: 14px;
    transition: .5s;
    &:hover{
        cursor: pointer;
        color: white;
        background: black;
    }
}